<% layout('/layouts/boilerplate') %>
<div id="cluster-map"></div>
<h1>All Travel Locations</h1>
<div>
    <a href="/travelLocos/new">Add Travel Location</a>
</div>

<% for (let travelLoco of travelLocos) {%>
<div class="card mb-3">
    <div class="row">
        <div class="col-md-4">
            <% if(travelLoco.images.length) { %>
            <img crossorigin="anonymous" class="img-fluid" alt="" src="<%= travelLoco.images[0].url %>">
            <% } else {%>
            <img crossorigin="anonymous" class="img-fluid" src="https://res.cloudinary.com/dhpx73ymx/image/upload/v1728525299/TravelNow/u8ombfhusdlhxo2ihmbg.jpg" alt="">
            <% } %>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= travelLoco.title %></h5>
                <p class="card-text"><%= travelLoco.description %></p>
                <p class="card-text">
                    <small class="text-muted"><%= travelLoco.location %></small>
                </p>
                <a href="/travelLocos/<%=travelLoco._id %>" class="btn btn-primary">View <%= travelLoco.title %></a>
            </div>
        </div>
    </div>
</div>
<% }  %>

<script>
    const mapToken = '<%= process.env.MAPBOX_TOKEN %>'
    const travelLocos = {features: <%- JSON.stringify(travelLocos) %>}
</script>

<script src="/javascripts/clusterMap.js"></script>